<div class="btn-group">
    <a class="btn btn-default btn-sm btn-user-edit" data-id="{{id}}" title="Edit"><i class="oi oi-pencil"></i> Edit</a>
    <a class="btn btn-default btn-sm btn-user-disable" data-id="{{id}}" title="{{#if disabled}}Enable{{else}}Disable{{/if}}"><i class="oi oi-{{#if disabled}}circle-check{{else}}circle-x{{/if}}"></i></a>
    <a class="btn btn-default btn-sm btn-user-delete" data-id="{{id}}" title="Delete"><i class="oi oi-trash"></i></a>
</div>
